/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --text-color-lightblue: #7eaffe;
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --point-color: var(--text-color-lightblue);
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --point-color: var(--text-color-lightblue);
}

body {
  height: 100vh;
}
